*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    width: 100%;
    background-color: black;
    position: relative;
    
}

.navbar{
    height: auto;
    background-color: black;
}
/* .carousel-inner{
    height: 50% ;
} */
.bg-dark{
    background-color: black;
}


.subscribe{
    border-radius: 30px;
    color:gold;
    border-style: solid;
    border-width: 2px;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
  }

.foryou{
    color:beige;
    border-style: solid;
    border-width: 2px;
    border-radius: 48px;
}

.foryou:hover{
    color: black;
    background-color: beige;
}

.nav-heading{
    font-weight: 500;
    color: azure;
}

.ms-n5 {
    margin-left: -34px;
}

/* carouse */

.carousel{
    width: 97%;
    height: 100%;
    position: relative;
    margin: auto;
    display: flex;
}

.carousel-control-prev,
.carouse-control-next{
    width: 10%;
    z-index: 5;
}

.car-child{
    /* float: left; */
    /* height: 100%; */
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background-color:black;
    width: 100%;
    height: 100%;
    left:0;

}

.car-child img{
    width:60%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.car-caption{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, black 80%, rgba(255, 255, 255, 0));
    color: white;
    border: none;
}

.title{
    font-weight: bold;
    color: white;
    font-size:xx-large;
    margin-left: 20%;
    padding-top: 30%;
    padding-right: 15%;
}
.desc{
    color: antiquewhite;
    font-size: small;
    margin-left: 20%;
}
.watch{
    background-color: fuchsia;
    color: white;
    margin-left: 20%;
}

.watch:hover{
    border-color:fuchsia;
    border-width: 2px;
}

/* trending section */

.card{
    float:left;
    margin: 10px;
    border-style: solid;
    border-color: black;
    width: 15%;
    position:relative;
    
}

.trending{
    color:white;
    margin-left: 2%;
    float:left;
}

.next{
    font-weight: bold;
    color: white;
    margin-right: 0px;
    float:left;
    font-size: 30px;
}

.movies-list{
    width: 100%;
    height: 250px;
    position: relative;
    margin: 10px 0px 10px;
}

.card-container{
    position: relative;
    width: 97%;
    padding-left: 10px;
    height: 250px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar{
    display: none;
}

.card-trending{
    position: relative;
    min-width: 170px;
    width: 170px;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: .5s;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.card-body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    padding: 10px;
    transition: 0.5s;
}

.number{
    position: absolute; 
    color: white;
    font-size:800%; 
    font-weight: bold;
    opacity: 0.8;   
    right: 4px;
    padding-top: 37%;
} 

.pre-btn,
.nxt-btn{
    position: absolute;
    top: 10%;
    width: 2%;
    height: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0;
}

.pre-btn{
    left: 0;
    /* background: linear-gradient(to right, black 0%,black); */
}
.nxt-btn{
    right: 0;
    /* background: linear-gradient(to left, black 0%,black); */
}

.pre-btn:hover,
.nxt-btn:hover{
    opacity: 1;
} 